@media only screen and (max-width:1000px) {
    .contenedor, .columna-top-rwd {
        display: block!important;
    }
}
    
    :root {
        --primario: #000;
        --secundario: #ff6b00;
    }

    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    body {
        background: #e9e9e9;
        font-family: 'Quicksand', sans-serif;
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
    }

    .centro {
        text-align: center;
        width: 100%;
    }

    .contenedor {
        width: 100%;
        max-width: 1100px;
        border-radius: 10px;
        overflow: hidden;
        background: #fff;
        min-height: 60vh;
        grid-template-columns: 1fr 1fr;
    }

    .header {
        margin-bottom: 40px;
        text-align: center;
        border-bottom: 2px solid var(--primario);
        padding-bottom: 20px;
    }

    .header h1 {
        color: var(--primario);
        font-family: helvetica;
        font-weight: normal;
        font-size: 24px;
    }

    .header p {
        color: var(--secundario);
    }

    label {
        margin-bottom: 10px;
        display: block;
        font-weight: 500;
        color: black;
        font-size: 15px;
    }

    input,
    label {
        width: 100%;
    }

    .contenedor-input {
        display: flex;
        justify-content: space-between;
    }
    .input-wrapper input #fecha {
        margin-top: 100px;
        text-align: left;
    }

    .input-wrapper {
        width: calc(50% - 10px);
    }

    .registro {
        display: none;
    }

    .registro.activo {
        display: block;
    }

    .exito {
        display: none;
        height: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    .exito.activo {
        display: flex;
    }

    .exito svg {
        width: 50px;
        height: 50px;
        color: var(--primario);
    }

    input {
        height: 30px;
        margin: 5px;
        line-height: 50px;
        font-size: 16px;
        width: 100%;
        border: 1px solid #ccc;
        padding: 0 20px;
        background: #fff;
        color: var(--primario);
        font-family: 'Quicksand', sans-serif;
        transition: .3s ease all;
    }

    input:focus {
        outline: none;
        border-color: var(--secundario);
    }

    .contenedor-input svg {
        position: absolute;
        color: var(--primario);
        top: 17px;
        left: 17px;
    }

    .contenedor-button {
        margin-top: 20px;
        align-items: center;
        text-align: center;
        margin-bottom: 20px;
        width: 120px;
    }

    button svg {
        margin-left: 10px;
        width: 20px;
        height: 20px;
    }

    button {
        background-color: var(--secundario);
        font-family: 'Quicksand', sans-serif;
        font-size: 16px;
        height: 50px;
        color: #fff;
        padding: 0 50px;
        border: none;
        cursor: pointer;
        transition: .3s ease all;
        outline: none;
        text-align: center;
    }

    button:hover {
        background-color: #ff4500;
    }

    .formulario-contenedor {
        background-color: white;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        padding: 40px;
        align-items: center;
        text-align: left;
        width: 90%;
        max-width: 600px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    .holder{
        color: #e9e9e9;
    }